@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*>*{
    font-family: 'Hind', sans-serif;
}

body{
    background: #dcdce6;
    background-image: url('./assets/photo-1686481394225-dba348a3ee0f.png');
}